<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.vue"></script>
    <title>Document</title>
  </head>
  <body>
 
<div id="exercise">
  <!-- 1) Butona tıklayarak <p> elementleri arasında bir Toggle İşlevi yapın. Hem v-if hem de v-show syntax'larını kullanarak bu işlemi gerçekleştiriniz. Aralarındaki farkı Öğeyi İncele diyerek bu iki syntax farkını gözlemleyiniz -->
  <div>
    <button @click="show = !show">Toggle</button>
    <p v-show="show">Beni Görebiliyor musun?</p>
    <p v-show="!show">Ya da beni görebiliyor musun?</p>
    <p v-if="show">Beni Görebiliyor musun?</p>
    <p v-else>Ya da beni görebiliyor musun?</p>
  </div>
  <hr>
  <!-- 2) Array kullanarak bir <ul> listesi oluşturunuz. Liste içerisinde hem Array'deki verinin değerini hem de index numarasını her bir elementin içerisine yazdırınız  -->
  <ul>
    <li v-for="(array,index) in arrays">{{array}} -- {{index}}</li>
  </ul>
  <hr>
  <!-- 3) Yan taraftaki objenin tüm key ve value verilerini yazdırınız: customObject: {title: 'Game of Thrones',author: 'George R.R',books: '7'}. Ayrıca tüm elementlerin index numarasını da yazdırınız. -->
 
      <ul >
        <li v-for="(value , key ,index ) in customObject">{{key}} : {{value}} --{{index}} </li>
      </ul>
   
  <hr>
  <!-- 4) Yan taraftaki objenin tüm value değerlerini yazdırınız. Ayrıca iç içe bir loop daha kurarak Array içerisindeki verileri de yazdırınız : { name: 'NesnedLoop', id: 19,data: [4.3, 2.67, 10.42, 1402] } (ipucu: v-for ve v-if Directive'lerinin beraber kullanımı bunu başarmanızı sağlayacaktır.) -->
  <ul>
    <li v-for="value in testData">
    	<template v-if="Array.isArray(value)"> 
			<div v-for="item in value"> {‌{ item }}</div>
		</template>		
		<template v-else>
			{‌{ value }}
		</template>				
    </li>
  </ul>
</div>
<script type="text/javascript">
  new Vue({
  el: '#exercise',
  data: {
    show:false,
    arrays: ['Gökhan', 'Defne', 'Berk', 'Özge'],
    customObject: {
      title: 'Game of Thrones',
      author: 'George R.R',
      books: '7'
    },
   
    testData: {
      name: 'TESTOBJECT', 
      id: 10,
      data: [1.67, 1.33, 0.98, 2.21]
    }
  },
  computed:{
    add:function(array){
      this.yeni.push(array)
    }
  }


});

</script>
    
  </body>
</html>
