<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .box{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 5px;
	background-color : gray;
}

.green{
	background-color : green;
}

.blue{
	background-color : blue;
}
</style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
	<div class="box" :style="{ backgroundColor : color}"></div>
	<div class="box" :style="customStyle"></div>
	<div class="box" :style="[ customStyle , { width: yukseklik + 'px' } ]"></div>		<hr>
	<input type="text" v-model="color">
	<input type="text" v-model="yukseklik">
</div>


<script type="text/javascript">
    new Vue({
	el : "#app",
	data : {
		color: "green",
		yukseklik:100
	},
	computed : {
		customStyle : function(){
			return {
				backgroundColor : this.color,
				height : this.yukseklik + "px"
			}
		}
	}
})
</script>
</body>
</html>