<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
    <style>
      .box{
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin-right: 5px;
      }
      .yellow{
        background-color: yellow;
      }

      .aqua{
        background-color: aqua;
      }

      .orange{
        background-color: orange;
      }
    </style>
  </head>
  <body>
<div id="app">
    
     <div :style="{'background-color' :color}" class="box" ></div>
     <div :style="customStyle" class="box"></div>
     <div :style="" class="box"></div>
   <hr>
   <input type="text" v-model="color">
   <input type="text" v-model="height">
</div>

    <script type="text/javascript">
      new Vue({
        el: "#app",
        data:{
          color:"orange",
          height:100
        },
        computed:{
          customStyle:function(){
          return{
            backgroundColor:this.color,
            height : this.height+"px"
          }
          }
        }
      });
    </script>
    
  </body>
</html>
